<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="base.css">
    <style>
        div {
            float: left;
            padding-left: 200px;
        }
        input {
            width: 400px;
            height: 400px;
        }
    </style>

</head>
<body>
    {% if not master %}
    <h1>{{player.name}} 님이 선호하는 것은?</h1><br>
    {% endif %}

    {% if master %}
    <h1>{{master.name}} 님이 선호하는 것은?</h1><br>
    {% endif %}

    
    {% block content %}
    {% endblock %}
</body>
</html>