{% extends 'core/base.html' %}
{% load static %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="choice6" value="1">
        <input type="image" src="{% static '길가다똥맞기.jpg' %}" alt="길가다똥맞기" name="choice6" value="1" href="{% url 'choice7' pk=player.pk %}"><br><br>
    </form>
    
    

    
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="choice6" value="2">
        <input type="image" src="{% static '길가다똥싸기.png' %}" alt="길가다똥싸기" name="choice6" value="2" href="{% url 'choice7' pk=player.pk %}"><br><br>
    </form>
    
{% endblock %}