{% extends 'core/base.html' %}
{% load static %}

{% block content %}

    
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="choice8" value="1">
        <input type="image" src="{% static '김치싸다구.png' %}" alt="김치싸다구" name="choice8" value="1" href="{% url 'choice9' pk=player.pk %}"><br><br>
    </form>
    
    

    
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="choice8" value="2">
        <input type="image" src="{% static '돼지고기싸다구.png' %}" alt="돼지고기싸다구" name="choice8" value="2" href="{% url 'choice9' pk=player.pk %}"><br><br>
    </form>
    
{% endblock %}